section #title h2 {
    font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    line-height: 36px;
    font-style: italic;
}
